</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="https://www.facebook.com/junaid.mohammed007/"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="https://x.com/junaid_arif_"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="https://www.linkedin.com/in/junaidarif-mohammad/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/_mohammad_junaid/"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>

  <ul class="menu">
    <li><a href="https://junaid-mohammad.github.io/HTML-Portfolio-Website/">Website</a></li>
    <li><a href="https://github.com/junaid-mohammad">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/junaidarif-mohammad/">LinkedIn</a></li>
    <li><a href="mailto:mohammad.junaidarif@mail.mcgill.ca">Email</a></li>
  </ul>
  <!-- Add a dynamic year to the footer using JS. -->
  <% var X = new Date().getFullYear() %>
  <p class="copyright"> © <%=X%> Junaid Arif</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>