<%- include("partials/header"); -%>
    <h1>About Me</h1>
    <img class="profile" src="images/junaid-linkedin.png" alt="cat profile" />
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
