
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <input name="postTitle" type="text" class="feedback-input" placeholder="Title" required />
        <textarea name="postBody" class="feedback-input" placeholder="Post" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
